{% extends 'desktop.html' %}

{% block content %}

Are you sure you want to delete:
<h1>{{ editor.user.get_full_name}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}
<input type="hidden" name="pk" value="{{editor.pk}}">
<input type="submit" value="Delete" />
</form>

{% endblock %}